* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    
    li {
        list-style: none;
    }
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}



.greet-bg {
    @include wrap;
    background:  url("../IMG/texture.png") no-repeat center center,
    black url("../IMG/video-bg.png") no-repeat center center;
    background-size: cover, cover;
    display: flex;
    flex-direction: column;
    position: relative;

}



.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 81px;

    &-left {
        margin-left: 77px;
    }
    &-middle {
        margin-left: auto;
    }
    &-right {
        margin-right: 79px;
        margin-left: 13px;
    }
}

.logo__pic {
    width: 92px;
    height: 69px;
}


.navigation__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: ubuntumedium;
    width: 625px;
    text-transform: uppercase;
}

.navigation__item {
        display: block;
        position: relative;

    a {
        color: #ffffff;
    }
    
    &:hover {
        text-decoration: underline;
    }

    &::after {
        position: absolute;
        content: "";
        width: 4px;
        height: 4px; 
        border-radius: 50%;
        background-color: #ffffff;
        top: 8px;
        right: -18px;
    }

    &:last-child::after {
        display: none;
    }

}

.order-btn {
    @include btn(#e45028);

    a {
        color: #ffffff;
    }

    &:hover {
        background-color: #c1401e;
    }
}

.greeting {
    display: flex;
    justify-content: center;
    align-items: center;

    &__image {
        background: url("../IMG/drops.png") no-repeat center center;
        width: 451px;
        height: 420px;

        img {
            margin-left: 25px;
            width: 414px;
            height: 420px;
        }
    }

    &__words {
        color: #ffffff;
        margin-left: 13px;
        width: 405px;

        &-gagalin {
            @include gagalin(#f9b43b);
        }

        &-lifehack {
            font-family: lifehackmedium;
            font-size: 65px;
        }
    }
}

.dots {
    position: absolute;
    top: 88px;
    right: 10px;
}

.dots__list {
    margin-left: 30px;
}

.dots__item {
    width:9px;
    height: 9px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-bottom: 12px;
    position: relative; 


    &:first-child::after {
        content: "";
        background-color: transparent;
        border: 1px solid white;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        position: absolute;
        right: -3px;
        top: -3px;
    } 

    &:last-child {
        margin-bottom: 0px;
    }
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

