.webest-bg {
    @include wrap;

background: url(../IMG2/cheese-dip.png) no-repeat left 25px, 
            url(../IMG2/seeds.png) no-repeat left 190px, 
            url(../IMG2/tomato-slices.png) no-repeat 56px bottom, 
            url(../IMG2/tomato.png) no-repeat right bottom, 
            url(../IMG2/cheese-lists.png) no-repeat right bottom, 
            url(../IMG2/lettuce.png) no-repeat right 53px, 
            url(../IMG2/wood.png) no-repeat;
    background-size: auto,auto,auto,auto,auto,auto, cover;
}

.webest-header {
    display: flex;
    justify-content: center;
    align-items: center;

    &__words {
    @include gagalin(#2f3234);
    padding-top: 4px;
    }
}

.webest-content {
    display: flex;
    margin: 0px 90px;
    justify-content: space-between;
}

.bestpoint {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 25px;

    &:first-child {
        margin-left: none;
    }

    
    &__img {
        width: 100px;
        height: 100px;
    }
    
    &__title {
        font-family: lifehackmedium;
        font-size: 24px;
        color: #2f3234;
        margin-top: 0;
    }

    &__text {
    
    p { 
        font-family: ubuntulight;
        font-size: 14px;
        color: #6d6d6c
        }
    }
}


