* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    
    li {
        list-style: none;
    }
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}



.greet-bg {
    @include wrap;
    background:  url("../IMG/texture.png") no-repeat center center,
                url("../IMG/texture.png") no-repeat center center,
                #000000 url("../IMG/video-bg.png") no-repeat center center;
    background-size: cover, cover;
    display: flex;
    flex-direction: column;
    position: relative;

}



.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 81px;

    &-left {
        margin-left: 77px;
        margin-top: 15px;
    }
    &-middle {
        margin-left: auto;
        margin-top: 8px;
    }
    &-right {
        margin-right: 79px;
        margin-left: 15px;
        margin-top: 8px;
    }
}

.logo__pic {
    width: 92px;
    height: 69px;
}


.navigation__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: ubuntumedium;
    width: 510px;
    text-transform: uppercase;
}

.navigation__item {
        display: block;
        position: relative;

    &::after {
        position: absolute;
        content: "";
        width: 4px;
        height: 4px; 
        border-radius: 50%;
        background-color: #ffffff;
        top: 8px;
        right: -18px;
    }

    &:last-child::after {
        display: none;
    }

}

.navigation__link {
        color: #ffffff;
        font-size: 13px;
    
    &:hover {
        text-decoration: underline;
    }
}



.order-btn {
    @include btn(#e45028);
    font-size: 13px;

    a {
        color: #ffffff;
    }

    &:hover {
        background-color: #c1401e;
    }
}

.greeting {
    display: flex;
    justify-content: center;
    align-items: center;

    &__bg {
        background: url(../IMG/drops.png) no-repeat 45px 60px;
        width: 500px;
        height: 420px;
        margin-left: auto;

    }

    &__image {
        margin-left: 82px;
        margin-top: -6px;
        width: 414px;
        height: 420px;
        }

    &__words {
        color: #ffffff;
        // margin-left: 13px;
        width: 500px;
        height: 420px;
        margin-right: auto;
        padding-left: 10px;
        padding-top: 130px;

        &-gagalin {
            @include gagalin(#f9b43b);
        }

        &-lifehack {
                font-family: lifehackmedium;
                font-size: 65px;
                margin-top: 15px;
                line-height: 100%;
                letter-spacing: -1.8px;
        }
    }
}

.dots {
    position: absolute;
    top: 95px;
    right: 55px;
}

.dots__list {
    margin-left: 30px;
}

.dots__item {
    width:5px;
    height: 5px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-bottom: 16px;
    position: relative; 


    &:first-child::after {
        content: "";
        background-color: transparent;
        border: 1px solid white;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        position: absolute;
        right: -6px;
        top: -5px;
    } 

    &:last-child {
        margin-bottom: 0px;
    }
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 93px;
}

