html {
    font-size: 16px;

    @include tablets {
        font-size: rem(15px);
  }

    @include phones {
        font-size: rem(13px);
    }
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: ubuntumedium, Arial, Helvetica, sans-serif;
    line-height: 1.42;
    color: #2f3234;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after { 
    box-sizing: border-box; 
}

body, html {
    height: 100%;
    width: 100%;
    // overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

// для скрывания элементов
.visuallyhidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}