.dots {
    position: fixed;
    top: 97px;
    right: 37px;

    @include tablets {
        display: none;
    }
}

.dots__list {
    margin-left: 30px;
}

.dots__link {
    width: rem(16px);
    height: rem(16px);
    display: block;
    position: relative;

    &:after, &:before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
    }

    &:after {
        width: rem(5px);
        height: rem(5px);
        background: #ffffff;
        // top: 50%;
        // left: 50%;
    }

    &:before {
        width: rem(0px);
        height: rem(0px);
        // width: rem(14px);
        // height: rem(14px);
        // border-radius: 50%;
        border: rem(1px) solid #ffffff;
        opacity: 0;
        // transform: scale(0);
        transition: 0.3s;
    }

    &:hover {
        &:before {
            width: rem(14px);
            height: rem(14px);
            opacity: 1;
            // transform: scale(1);
        }
    }

    &_active {
        &:before {
            width: rem(14px);
            height: rem(14px);
            opacity: 1;
            // transform: scale(1);
        }
    }
}

.dots__item {
    margin-bottom: rem(5px);
}