.webest-bg {
background: url(../IMG2/cheese-dip.png) no-repeat left 25px, 
            url(../IMG2/seeds.png) no-repeat left 190px, 
            url(../IMG2/tomato-slices.png) no-repeat 56px bottom, 
            url(../IMG2/tomato.png) no-repeat right bottom, 
            url(../IMG2/cheese-lists.png) no-repeat right bottom, 
            url(../IMG2/lettuce.png) no-repeat right 53px, 
            url(../IMG2/wood.png) no-repeat;
    background-size: auto,auto,auto,auto,auto,auto, cover;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
}

.webest-header {
    display: flex;
    align-items: center;

    &__words {
    @include gagalin(#2f3234);
    padding: 0;
    margin: 0;
    margin-bottom: rem(60px);
    margin-top: rem(55px);
    }
}

.webest-content {
    display: flex;
    margin: 0px 90px;
    justify-content: space-between;
    align-items: baseline;
    justify-content: flex-start;
}

.bestpoint {
    width: 285px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    margin-left: 40px;

    &:first-child {
        margin-left: 0px;
    }
}

    
.bestpoint__img {
        margin: 0 auto;

        &_meat {
        width: 97px;
        height: 89px;
        fill: #e25028;
        }

        &_hand {
        width: 73px;
        height: 85px;
        fill: #f8b43a;
        }

        &_natural {
        width: 88px;
        height: 75px;
        fill: #8ac03e;
        }
}

.bestpoint__icon {
    width: 100%;
    height: 100%;
}

.bestpoint__content {
    text-align: center;
}

.bestpoint__title {
        font-family: lifehackmedium;
        font-size: 24px;
        color: #2f3234;
        line-height: 28px;

}

.bestpoint__text {

    p { 
        font-family: ubuntulight;
        font-size: 14px;
        color: #6d6d6c
        }
}



