.greet-bg {
    background:  url("../IMG/texture.png") no-repeat center center,
                url("../IMG/texture.png") no-repeat center center,
                #000000 url("../IMG/video-bg.png") no-repeat center center;
    background-size: cover, cover;
    position: relative;
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 81px;

    &-left {
        margin-left: 77px;
        margin-top: 13px;
        margin-right: auto;
    }
    &-middle {
        margin-top: 10px;
        margin-right: 12px;
    }
    &-right {
        margin-right: 79px;
        margin-top: 13px;
    }
}

.logo__pic {
    width: 92px;
    height: 69px;
}

.navigation__item {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;

    &:after {
        display: inline-block;
        vertical-align: middle;
        content: ' ';
        @include circle(5px, #ffffff);
        margin: 0 12px;
    }

    &:last-child:after {
        display: none;
    }
}

.navigation__link {
        color: #ffffff;
        font-size: 13px;
        font-family: ubuntumedium;
        text-transform: uppercase;
        display: inline-block;
        vertical-align: middle;
        transition: .5s;

    &:hover {
        text-decoration: underline;
    }
}

.order-btn {
    @include btn(#e45028);
    font-size: 13px;

    a {
        color: #ffffff;
    }

    &:hover {
        background-color: #c1401e;
    }
}

.greeting {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    flex-grow: 1;
    padding-bottom: 15%;

    &__bg {
        background: url(../IMG/drops.png) no-repeat 100px 69px;
        width: 500px;
        height: 420px;
        margin-left: auto;
        flex-basis: 50%;
        display: flex;
    }

    &__image {
        margin-left: 135px;
        margin-top: 3px;
        width: 414px;
        height: 420px;
        }

    &__words {
        color: #ffffff;
        width: 500px;
        height: 420px;
        margin-right: auto;
        padding-left: 10px;
        padding-top: 130px;
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &-gagalin {

            h2 {
                @include gagalin(#f9b43b);
                font-weight: 400;
                margin: 0;
                padding-top: 60px;
                line-height: 0;
            }
        }
        &-lifehack {
                font-family: lifehackmedium;
                font-size: 65px;
                line-height: 0.97;
                letter-spacing: -1.8px;
                font-weight: 500;
                line-height: 1;
        }
    }
}

.dots {
    position: absolute;
    top: 98px;
    right: 50px;
}

.dots__list {
    margin-left: 30px;
}

.dots__item {
    @include circle(5px, #ffffff);
    margin-bottom: 16px;
    position: relative; 


    &:first-child::after {
        content: "";
        background-color: transparent;
        border: 1px solid white;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        position: absolute;
        right: -4px;
        top: -5px;
    } 
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    position: absolute;
    bottom: 33px;
    right: 50%;
}

