.team-bg {
    background: #000000 url("../IMG4/team-bg.png") no-repeat center center;
    background-size: cover;
    position: relative;
    height: 100%;
    width: 100%;
}

.teammates-bg {
    min-height: 650px;
    height: 100%;
    min-width: 550px;
    width: 50%;
    margin-left: 52%;
    background-color: rgba(#000000, 0.8);
}

.teammates {
    position: absolute;
    top: 65px;
    left: 50%;
    margin: 0px 90px;
    bottom: 0;
    right: 0;
}


.teammates__title {
    display: block;
    @include gagalin(#f9b43b);
    font-weight: 400;
    margin: 0;
    margin-bottom: 46px;
    vertical-align: middle;

}

.teammates__name {
    margin: 0;
    display: inline-block;
    font-family: gagalinregular;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;

    display: flex;
    align-items: center;
    padding: 15px 0px;

    &:before {
        content: "";
        height: 0;
        width: 0;
        border: 4.5px solid transparent;
        border-top-color: #f9b43b;
        border-bottom-width: 0px;
        margin-right: 9px;
    }
}

.teammates__desc{
    display: flex;
    height: 0px;
    overflow: hidden;
}

.teammates__foto {
    width: 25%;
    height: 25%;
    min-width: 100px;
    min-height: 100px;
    margin-left: 15px;

}

.teammates__text {
    width: 66%;
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
    font-family: ubuntulight;
    padding: 0px 20px;
}

.teammates__job {
    margin: 0;
    font-family: ubuntubold;
    font-size: 14px;
}

.teammates__trigger_active {
    .teammates__name:before {
        transform: scale(1, -1);
    }

    .teammates__name {
        color: #f9b43b;
    }

    +.teammates__desc {
        height: 23%;
        min-height: 120px;
        overflow: visible;
    }
}