.team {
    background: #000000 url("../IMG4/team-bg.png") no-repeat center center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.team-bg {
    height: 100%;
    width: 100%;
}

.teammates-bg {
    position: relative;
    height: 100%;
    width: 100%;
}

.teammates {
    position: absolute;
    top: 0;
    left: 51%;
    bottom: 0;
    right: 0;
    background-color: rgba(#000000, 0.8);

    display: flex;
    flex-direction: column;

    @include tablets {
        left: 0;
        align-items: center;
    }
}

.teammates__title {
    display: block;
    @include gagalin(#f9b43b);
    font-weight: 400;
    margin: rem(65px) rem(0px) rem(46px) rem(77px);

    @include transit {
        margin-left: rem(35px);
    }

    @include tablets {
        margin-left: 0;
        margin-top: rem(100px);
    }

    @include phones {
        font-size: rem(50px);
        margin-top: rem(65px);
    }
}

.teammates__accordeon {
    margin: rem(0px) rem(80px);

    @include tablets {
        margin-top: rem(55px);
    }
    
    @include phones {
        margin: rem(30px) rem(30px) 0;
    }
}

.teammates__item {
    display: flex;
    flex-direction: column;

    @include tablets {
        align-items: center;
    }
}


.teammates__name {
    margin: 0;
    display: inline-block;
    font-family: gagalinregular;
    font-size: rem(14px);
    font-weight: 400;
    color: #ffffff;

    display: flex;
    align-items: center;
    padding: rem(15px) rem(0px);

    &:before {
        content: "";
        height: 0;
        width: 0;
        border: 4.5px solid transparent;
        border-top-color: #f9b43b;
        border-bottom-width: rem(0px);
        margin-right: rem(9px);
    }

    @include tablets {
        font-size: rem(24px);
        line-height: rem(28px);
        padding: rem(20px) rem(0px);
    }

    @include tablets {
        font-size: rem(24px);
        line-height: rem(28px);
        padding: rem(15px) rem(0px);
    }
}

.teammates__desc{
    display: flex;
    height: rem(0px);
    // transform: scale(0);
    // transform-origin: 50% 0%;
    // transition: transform 0.5s;
    overflow: hidden;
    // display: none;
    // height: 23%;
    // min-height: rem(120px);
    // transition: 3s linear;

    @include transit {
        flex-direction: column;
        align-items: left;
        width: 100%;
    }

    @include tablets {
        flex-direction: column;
        align-items: center;
    }

    @include phones {
        margin-top: rem(15px);
    }
}

.teammates__foto {
    // width: 25%;
    // height: 25%;
    width: 100px;
    height: 100px;
    margin-left: rem(15px);

}

.teammates__teampic {
    width: 100%;
    height: 100%;
}

.teammates__text {
    width: 66%;
    color: #ffffff;
    font-size: rem(14px);
    line-height: rem(24px);
    font-family: ubuntulight;
    padding: rem(0px) rem(20px);

    @include transit {
        width: 100%;
    }

    @include tablets {
        text-align: center;
        width: 66%;
    }

    @include phones {
        width: 90%;
    }
}

.teammates__job {
    margin: 0;
    font-family: ubuntubold;
    font-size: rem(14px);

    @include tablets {
        text-align: center;
    }
}

.teammates__trigger_active {
    .teammates__name:before {
        transform: scale(1, -1);
    }

    .teammates__name {
        color: #f9b43b;
    }

    +.teammates__desc {
        height: 23%;
        min-height: rem(120px);
    //     // transform: scale(1);
    //     overflow: visible;
    }
}