.order-bg {
    background:  url("../IMG7/order-texture.png") no-repeat center center,
                #000000 url("../IMG7/order-bg.png") no-repeat center center;
    background-size: cover, cover;
    // position: relative;
    height: 100%;
    width: 100%;
}

.order__title {
    @include gagalin(#f9b43b);
    font-weight: 400;
    padding: 0;
    margin: 0;
    margin-bottom: rem(60px);
    // margin-top: rem(55px);
}

.orderform {
    width: 86%;
    min-width: 950px;
    display: flex;
    color: #ffffff;
    font-family: ubuntulight;
    font-size: 14px;

    &__left {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        border: 1px solid yellow;
        width: 50%;
        margin-right: 20px;
    } 

    &__right {
        border: 1px solid yellow;
        width: 50%;
        display: flex;
        flex-flow: column nowrap;
    }
}

.orderform__row {
    display: flex;
    margin-bottom: 20px;
    &_textarea {
        flex-flow: column nowrap;
    }
}

.orderform__item {
    width: 100%;
    margin-right: 20px;
    flex: 1;

    &:last-child {
        margin-right: 0;
    }
}

.orderform__field {
    width: 100%;
    // min-width: 100px;
    height: 35px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    }

.orderform__textarea {
    width: 100%;
    min-width: 460px;
    min-height: 110px;
    height: 45%;
    border-radius: 5px;
}


.orderform__switch {
    display: none;

    &_checkbox {
        position: relative;
        width: 15px;
        height: 15px;
        background-color: #fff;
    }

    &_radio {
        position: relative;
        width: 15px;
        height: 15px;
        background-color: #fff;
        border-radius: 50%;
        margin-right: 9px;
    }
}

.orderform__switch_radio,
.orderform__switch_checkbox,
.orderform__switch-label {
    display: inline-block;
    vertical-align: middle;
}

.orderform__switch:checked + .orderform__switch_checkbox::before {
    content: "";
    display: block;
    position: absolute;

    top: 0px;
    right: 2px;
    bottom: 2px;
    left: 3px;
    
    width: 7px;
    height: 12px;
    border-right: 3px solid #e45028;
    border-bottom: 3px solid #e45028;
    transform: rotate(45deg);
}

.orderform__switch:checked + .orderform__switch_radio::before {
    content: "";
    display: block;
    position: absolute;

    top: 4px;
    right: 4px;
    bottom: 4px;
    left: 4px;

    background: #e45028;
    border-radius: 50%;
}


.reset-btn  {
    border: none;
    background: transparent;
    color: #ffffff;
    font-family: ubuntulight;
    font-size: 14px;
    margin-left: 20px;
}
