@mixin gagalin($color) {
    font-family: gagalinregular;
    font-size: rem(72px);
    text-transform: uppercase;
    color: $color;
}


@mixin btn($bgcolor) {
    background-color: $bgcolor;
    border: none;
    border-radius: rem(5px);
    text-align: center;
    vertical-align: middle;
    padding: rem(10px) rem(16px);
    text-transform: uppercase;
    font-family: ubuntumedium;
    color: #ffffff;
    line-height: 1;
}

@mixin circle($width, $color) {
  width: $width;
  height: $width;
  border-radius: $width/2;
  background-color: $color;
}

