@mixin gagalin($color) {
    font-family: gagalinregular;
    font-size: 72px;
    text-transform: uppercase;
    color: $color;
}


@mixin btn($bgcolor) {
    background-color: $bgcolor;
    border: none;
    border-radius: 5px;
    width: 97px;
    height: 35px;
    text-align: center;
    vertical-align: middle;
    padding: 10px 16px;
    text-transform: uppercase;
    font-family: ubuntumedium;
    color: #ffffff;
    line-height: 1;
}

@mixin circle($width, $color) {
  width: $width;
  height: $width;
  border-radius: $width/2;
  background-color: $color;
}

//responsive
@function rem($px) {
  @return $px / 16px+0rem;
}